<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" >
	  
	  
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" >
	    <div class="container ">
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
                <%nav.forEach(element=>{%>
                    <li class="nav-item"><a href="<%=element.link%>" class="nav-link"><span><%=element.title%></span></a></li>
				<%})%>
				<li class="nav-item">
					<a href="https://github.com/temilolu97" class="nav-link">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
					</a>
				</li>
				<li class="nav-item">
						<a href="https://twitter.com/temilolu99" class="nav-link">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
						</a>
				</li>
				<li class="nav-item">
					<a href="https://www.linkedin.com/in/temiloluwa-abiodun-ojo-69432878/" class="nav-link">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
					</a>
				</li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	  <section class="hero-wrap js-fullheight">

      <div class="container">
        <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
          <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-center">
          	<div class="text text-center">
          		
		  				<h1>Hi there, I am Temi and I am <span
							class="txt-rotate"
							data-period="2000"
							data-rotate='[ "a Web Developer.", "a back-end guy, front-end stresses me", "a part-time clown.", "an all-round nice guy."  ]'></span></h1>
						  
			</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class=" pl-md-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<h1 class="big">About</h1>
		            <h2 class="mb-4">About Me</h2>
		            <p>I hold a Bachelors Degree in computer Science from the University of Ibadan,Nigeria and I am a back-end
                        developer and my key competencies include Nodejs and Laravel</p>
		            <ul class="about-info mt-4 px-md-0 px-2">
		            	<li class="d-flex"><span>Name:</span> <span>Temiloluwa Abiodun-Ojo</span></li>
		            	<li class="d-flex"><span>Address:</span> <span>Ibadan, Nigeria</span></li>
		            	<li class="d-flex"><span>Education:</span> <span>University of Ibadan (B.Sc Computer Science)</span></li>
		            	<li class="d-flex"><span>Email:</span> <span>temiloluwaabiodunojo@gmail.com</span></li>
		            	<li class="d-flex"><span>Phone: </span> <span>+234(0)-8141741788</span></li>
		            </ul>
		          </div>
		        </div>
	          <div class="counter-wrap ftco-animate d-flex mt-md-3">
              <div class="text">
                <p><a href="https://docs.google.com/document/d/1Zz3RV0Ne4el-YfHmoMMB7omDOqWgw8pKCxlNIDHsHAE/edit?usp=sharing" class="btn btn-primary py-3 px-3">View CV</a></p>
              </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pb goto-here" id="resume">
    	<div class="container">
    		<div class="row">
					<div>
					  <div id="page-1" class= "page one">
					  	<h2 class="heading">Education</h2>
					    <div class="resume-wrap d-flex ftco-animate">
					    	<div class="text pl-3">
		    					<span class="date">2014-2018</span>
		    					<h2>Bachelor of Science in Computer Science</h2>
		    					<p class="position">University of Ibadan</p>
		    			
							</div>
							<div class="text pl-3">
								<span class="date">2013-2014</span>
								<h2>Cambridge AS and A'levels</h2>
								<p class="position">Global Cambridge College, Ibadan</p>
							</div>
	    				</div>
					  </div>

					  <div id="page-2" class= "page two">
					  	<h2 class="heading">Experience</h2>
					    <div class="resume-wrap d-flex ftco-animate">
					    	<div class="text pl-3">
		    					<span class="date">August 2019 - November 2019</span>
		    					<h2>Back-end Developer</h2>
		    					<span class="position">DevCareer</span>
		    					<p>Node.js, Express.js, MongoDB, Postgres, Git, Github, Postman</p>
							</div>
							<div class="text pl-5">
									<span class="date">April 2019 -  July 2019</span>
									<h2>Web Development Intern</h2>
									<span class="position">Hub67 Ibadan</span>
									<p>HTML5, CSS, JavaScript, Bootstrap, MySQL, Php</p>
							</div>
	    				</div>
					  </div>
					  
					</div>
			  </div>
    	</div>
    </section>
    

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
<footer>
	<a href="https://github.com/temilolu97"></a>
	
</footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  
  <script src="js/main.js"></script>
    
  </body>
</html>